<mat-toolbar class="toolbar">  
    <span class="toolbar-left">
        <h1>Agenda App</h1>
        <a routerLink="/agenda">Agenda</a>
        <a routerLink="/contato">Contato</a> 
    </span> 
    <span class="toolbar-right">
        <button mat-button [matMenuTriggerFor]="menu">{{usuario["nome"]}}</button> 
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/usuarioForm', usuario['id']]">Meus Dados</button>
            <button mat-menu-item (click)="logout()">Sair</button>
        </mat-menu>
    </span>        
</mat-toolbar>
<mat-card class="conteudo">
    <router-outlet></router-outlet>
</mat-card>