<div class="form-header">
    <a mat-icon-button routerLink="/agenda">
        <mat-icon>keyboard_backspace</mat-icon>   
     </a>
    <h2>Agendamento</h2>
</div>
<form [formGroup]="agendaForm" (ngSubmit)="save()">
    <p>
        <mat-form-field style="width: 15%">
            <mat-label>Data</mat-label>
            <input type="date" matInput formControlName="dataAgendamento">
            <mat-error>
                <app-validator-form [field]="agendaForm.controls.dataAgendamento"></app-validator-form>
            </mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field style="width: 100%">
            <mat-label>Descrição</mat-label>
            <input type="text" matInput formControlName="descricao">
            <mat-error>
                <app-validator-form [field]="agendaForm.controls.descricao"></app-validator-form>
            </mat-error>
        </mat-form-field>
    </p> 
    <p>
        <button mat-raised-button class="btn-success">Salvar</button>
    </p>
</form>